@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Space Grotesk', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Apply theme styles to the whole app */
body {
    background-color: var(--color-skin-base);
    color: var(--color-info-text-base);
}

/* Define light theme variables */
:root.dark {
    /* skin */
    --color-skin-base: #14121B;
    
    /* infographic */
    --color-info-text-base: #ffffff;
    --color-info-text-muted: #D1D1D1;
    --color-info-base: #1F1934;
    --color-header-stroke: #ffffff;

    /* header */
    --color-header-text-base: #ffffff;
    --color-header-text-muted: #D1D1D1;
    
    --color-header-bg-base: #14121B;
    --color-header-bg-muted: #191926;
    --color-header-bg-accent: #6161D6;
    
    --color-header-border: #242431;



}

/* Dark theme variables */
:root {
    /* skin */
    --color-skin-base: #ffffff;
    /* infographic */
    --color-info-text-base: #ffffff;
    --color-info-text-muted: #D1D1D1;
    --color-info-base: #353570;
    --color-header-stroke: #353570;
    
    /* header */
    --color-header-text-base: #353570;
    --color-header-text-muted: #424286;
    
    --color-header-bg-base: #ffffff;
    --color-header-bg-muted: #CCCCFA;
    --color-header-bg-accent: #6161D6;
    
    --color-header-border: #ffffff;



}


@layer components {

    .app-css {
        @apply h-screen
    }

    .header-info {
        @apply flex w-screen h-14 px-[72px] py-4 border-none bg-info-base
    }
    .info-item {
       @apply text-info-base flex justify-between gap-2 items-center
    }

    .canvas-item {
        @apply flex justify-center items-center border rounded-md cursor-pointer bg-header-muted border-header-base
    }

    .nav-item {
        @apply h-12 text-header-base flex justify-center items-center py-3 px-4  gap-[10px] rounded-md cursor-pointer
    }
}

.dark-icon path {
    stroke: var(--stroke-color); /* Set stroke color for dark theme */
  }